@import url('https://fonts.googleapis.com/css?family=Baloo+Da|Roboto');

body{
  background: #5F1C1C;
  font-family: 'Roboto', sans-serif;
}
.dojo{
  background:  url(https://gistcdn.githack.com/alexmwalker/6acbe9040d9fe6e5e9fd758a25e1b2a5/raw/635810bd1a925c06b5c0bc0c861d62fe53597078/dojo.svg) no-repeat;
  width: 100%;
  height: 800px;
  background-size: 100% auto;
  padding-top: 10px;
}
.quiz-body{
  background: rgba(255,255,255,1);
  margin: 150px 33%;
  padding: 10px 20px 50px 20px;
  -webkit-box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
-moz-box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
}
h1{
  color: #611BBD;
  font-family: 'Baloo Da', cursive;
  font-weight: 900;
  text-align: center;
  font-size: 48px;
  margin: 0;
}
button {
  color: #ffffff;
  background-color: #611BBD;
  border-color: #130269;
  border-radius: 4px;
  margin: 0.2em 0;
  display: block;
  width: 100%;
  font-size: 24px;
}
#question {
 font-size: 24px;
}

#result{
  color: #fff;
  margin: 0.2em 0;
  width: 100%;
  text-align: center;
}
.correct {
    background-color: #0c0;
}
.wrong {
  color: #fff;
  background-color: #c00;
}
